body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;

}

.container{
    display: flex;
    flex-direction: row;
}

.photo{
    background-image: url('../img/flowers.jfif');
    background-size: cover;
    display: flex;
    flex: 50%;
    justify-content: center;
    height: 100vh
}

.content{
    display: flex;
    flex: 50%;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.h1{
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 80px
}
